/* Gradients ------------------------------------------------------------------------------------------------------------------------------*/
.gradient-background-main {
    background: linear-gradient(300deg, #4fff2b, #3b26ff, #c533ff);
    background-size: 180% 180%;
    animation: gradient-animation 12s ease infinite;
  }
  
  .gradient-background-emotion {
    background: linear-gradient(300deg, #fe769a, #f88ba8, #fcf15e);
    background-size: 180% 180%;
    animation: gradient-animation 12s ease infinite;
  }

  .gradient-background-animal {
    background: linear-gradient(300deg, #4d4a83, #9c4d66,#c9aa63 );
    background-size: 180% 180%;
    animation: gradient-animation 12s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /* ---------------------------------------------------------------------------------------------------------------------------------------*/

  body{
    background-color: #EEEEEE;
}

/* #83199d, #ff4c68, #ef8172 */

hr{
    border: none;
    background-color: #ccc;
    color: rgba(120, 120, 120, 1);
    height: 1px;
}


h2{
    margin: 0%;
    font-weight: 650;
    color:#1A1A1D;
}

h3{
    margin: 0%;
    font-weight: 500;
    color:#1A1A1D;
}

.albumbio{
    margin: 0%;
    margin-top: 5px;
    text-align: justify;
    font-weight: 350;
    color:#1A1A1D;
    overflow: hidden;

}
.main-card{
    margin: 20px
}

.albumcover{
    float: left;
    width: 250px;
    margin-right: 20px;
    border-radius: 10px;
}

.album{
   display: inline-block;   
   width: 100%;
   padding:20px
}

.album h2{
    width: 90%;
}

.album h3{
    width: 90%;
}

.albums-card{
    display: inline-block;
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 20px;

}


/* album page---------------------------------------------------------------------------------------------------------------------------*/

.albumcoverpage{
    border-radius: 10px;
}

.span-info{
    font-weight:600;
}

.list{
    border-color: #EEEEEE;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ccc;
}

.albumpageligh{
    color: #EEEEEE;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------*/




@media (max-width:575px) {

    .albumcover{
        max-width: 100%;
        width: 400px;
        object-fit: cover;
        margin-bottom: 15px;

    }
    
    h3{
        margin-bottom: 5px;
        font-weight: 500;
        color:#1A1A1D;
    }

    .h1title{
      margin-bottom: 30px;
    }
    
}

